<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<body style="padding:40px ">
  <p style="text-align: center;font-size: 30px">  Hello <input type="text" placeholder="your name" (input)="ontyping($event)"/>, Welcome to the <b>Company!</b></p> 
  <p style="text-align: center;font-size: 20px">Hello {{name}}<br>I am siri, your personal assistant! I will guide you further...</p>
  <div style="text-align:left;padding: 20px">
  <p> Click on Sign up to create your account with demo: <button (click)="signup()" class="button" [routerLink]="'/signup'">Sign up </button>   : {{status}}</p>
  <p> Click on Sign up to create your account with demo: <button  class="button" [routerLink]="'/signin'">Sign In </button></p>
  </div>
       
  </body>
  <router-outlet></router-outlet>
  


