/* You can add global styles to this file, and also import other style files */

.row{
background-color: rgb(116, 136, 153);
text-align: center;
}

body{
  background-image: url(\src\assets\bg.jpg);  
}

.button {
    background-color: #95a5b4;
    border: none;
    color: rgb(32, 30, 30);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }